body{
  background-color: sandybrown;
}
section{
  background-color: whitesmoke;
}
#treasure7:hover{
  color: sandybrown;
}

.treasure:hover {
  font-size: 15pt;
  color: purple;
}

h4 {
  font-size: 30pt;
}

h1{
  padding-top: 5%;
  text-align: center;
  margin: auto;
}
#treasure3:hover, #treasure5:hover {
  font-size: 30pt;
}

#treasure4:hover{
  opacity: 0.5;
}

.hint {
  font-size: 12;
  font-style: oblique;
  color: blue;
}

img {
  width: 150px;
}

.boxTreasures, .boxplaces {
  display: flex;
}

.boxTreasures div, .boxplaces div {
  background-color: aquamarine;
  margin: 4%;
}

#hud {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #333;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }

        .foot {
      height: 50px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }